#submit, #download {
  width: 20%;
  padding: min(1.25vw, 1.25vh);
  border: none;
  border-radius: min(1.25vw, 1.25vh);
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
  background-color: #fff;
}

#submit:hover, #download:hover {
  background-color: #eee;
}

#submit:disabled, #download:disabled {
  background-color: #fff;
}

#floating {
  height: min(75vw, 75vh);
  width: min(75vw, 75vh);
}

.labelBox {
  width: min(7.5vw, 7.5vh);
  flex-direction: row;
  justify-content: left;
}

h2 {
  font-weight: 600;
  font-size: min(2vw,2vh)
}

button:not(#download, #submit) {
  height: max-content;
  padding-left: 3.5%;
  padding-right: 3.5%;
}