* {
  font-size: min(2.5vw,2.5vh);
}

#submit, #download {
  width: min(25vw,25vh);
  height: min-content;

  padding: min(2.25vw, 2.25vh);
  border: none;
  border-radius: min(2.25vw, 2.25vh);
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
  background-color: #fff;

  font-size: min(3.5vw,3.5vh);
}

#submit:hover, #download:hover {
  background-color: #eee;
}

#submit:disabled, #download:disabled {
  background-color: #fff;
}

#floating {
  height: min(140vw, 140vh);
  width: min(80vw, 80vh);
}

.statBox {
  min-width: min-content;
  width: min(20vw,20vh);
}

.labelBox {
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

h2 {
  font-weight: 600;
  font-size: min(3.5vw,3.5vh);
  text-align: center;
}

button:not(#download, #submit) {
  height: max-content;
  padding-left: 5%;
  padding-right: 5%;
}