* {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 0%;
  margin: 0%;
  background-color: white;
  background-image: url("../images/bg.jpeg");
  background-size: cover;
  backdrop-filter: blur(25px);
  animation: panorama infinite linear 6000s;
}

@keyframes blurIn {
  from {
    backdrop-filter: blur(40px);
  }
  to {
    backdrop-filter: blur(25px);
  }
}

@keyframes transparentIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes panorama {
  from {
    background-position: 0%;
  }
  to {
    background-position: 10000%;
  }
}

#interact {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: min(2vw, 2vh);
  align-items: center;
  animation: transparentIn ease-in-out 1.5s;
  opacity: 1;
}

#floating {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: min(2.5vw, 2.5vh);
  box-shadow: 0px 0px 40px hsla(0, 0%, 0%, 0.3);
  overflow: hidden;
}

.inset {
  min-width: min(2.5vw, 2.5vh);
  max-width: min(2.5vw, 2.5vh);
  height: 100%;
}

.statBox {
  display: flex;
  flex-direction: column;
  padding: min(0.75vw, 0.75vh);
  justify-content: center;
  align-items: center;
}

.outerbox {
  display: flex;
  flex-direction: column;
  padding: min(1.5vw, 1.5vh);
  justify-content: center;
  align-items: center;
  border-radius: min(1.25vw, 1.25vh);
  background: white;
}

.area {
  padding: min(2.5vw, 2.5vh);
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
}

.area:nth-child(even) {
  background-color: #eee;
}

.area:last-child {
  flex-grow: 1;
}

.input {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.numberBox {
  width: 25%;
  text-align: center;
}

#notes {
  width: 100%;
  text-align: left;
  padding: min(1.5vw, 1.5vh);
  border: none;
  border-radius: min(1.25vw, 1.25vh);
  resize: none;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.1);
}

select:focus-visible, input:focus-visible, button:focus-visible {
  outline: none;
}

select:hover, input:hover, button:hover {
  background-color: #eee;
}

#notes:focus-visible {
  border: none;
  border-radius: min(1.25vw, 1.25vh);
  outline: none;
}

select, input, button {
  text-align: center;
  background-color: white;
  padding: min(0.35vw, 0.35vh);
  margin: min(0.5vw, 0.5vh);
  border: none;
  border-radius: min(0.35vw, 0.35vh);
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
}

select, button {
  cursor: pointer;
}

select {
  appearance: none;
  -moz-appearance: none; 
  -webkit-appearance: none;
  min-width: min(7.35vw, 7.35vh);
  padding-left: min(1vw, 1vh);
  padding-right: min(1vw, 1vh);
}

input::-webkit-calendar-picker-indicator {
    display: none !important;
    opacity: 0;
}

input[list]::-webkit-calendar-picker-indicator {
    display: none !important;
}

input::-webkit-list-button {
    display: none !important;
}

input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}